@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: auto;
    padding: auto;
    padding-bottom: auto;
}

/*BARRA PRINCIPAL*/
#header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

#logo {
    display: flex;
    align-items: center;
    height: 40px;
}

#buscador {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
}

#barra_buscador {
    width: 100%; 
    max-width: 400px;
    padding: 10px; 
    font-size: 16px; 
    border-radius: 10px;
    border: 1px solid #ccc; 
}

#iconos {
    display: flex;
    align-items: center;
}

#iconos img {
    height: 20px;
    margin-left: 35px; 
}

/*NAVEGADOR CATEGORIAS*/
#banner-envio p {
    background-color: #0D0638;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 35px;
}

/*CARRUSEL MARCAS*/
#carouselExampleControls .carousel-item {
    height: 500px; 
}
  
#carouselExampleControls .carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/*LINEAS SEPARADORAS*/
.custom-hr {
    border: 0;
    height: 2px;
    background-color: #000000;
    width: 80%; 
    margin: 20px auto; 
    opacity: 0.8;
}

/*RECOMENDACIONES*/
#recomendaciones-productos {
    padding: 20px;
}

#recomendaciones-productos h2 {
    text-align: center;
    color: #0D0638;
    margin-bottom: 20px;
    font-size: 2.5rem; /* Aumentar tamaño del encabezado */
}

.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease; /* Efecto de transición suave */
}

.owl-carousel .item:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.producto-info {
    border: 5px solid rgba(0, 0, 0, 1); /* Borde en color difuminado */
    border-radius: 10px; /* Bordes más redondeados */
    padding: 20px; /* Espaciado interno aumentado */
    background-color: #fff;
    transition: box-shadow 0.3s ease; /* Transición de sombra */
}

.producto-info:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
}

.producto-info img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50); /* Sombra más suave */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espaciado inferior aumentado */
}

.producto-info h4 {
    margin: 0;
    font-size: 1.8rem; /* Tamaño de fuente más grande */
    color: #0D0638; /* Color del texto */
}

.producto-info p {
    margin: 0;
    font-size: 1.5rem; /* Tamaño de fuente más grande */
    color: #0D0638; /* Color del texto */
}



/*BANNER PROMOCIONES*/
.bg-light {
    background-color: #000000 !important;
    border-radius: 15px; 
    overflow: hidden; 
}

h1.display-4 {
    color: #ffffff; 
}

p {
    color: #ffffff; 
}

hr {
    border-color: #ffffff; 
}

.btn-primary {
    background-color: #0D0638;
    border-color: #000000; 
    border-radius: 10px;
} 

.btn-primary:hover {
    background-color: #000000; 
    border-color: #0D0638; 
}
.img-fluid {
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgb(255, 255, 255); 
}


/*FOOTER*/
#footer {
    background-color: #000000; 
    color: #ffffff; 
    padding: 20px 0;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

#footer p {
    margin: 0;
    line-height: 1.5;
}

#footer iframe {
    border: 0;
    border-radius: 5px;
}

#social-icons a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

@media (max-width: 767.98px) {
    #footer iframe {
        height: 150px;
    }
}


/*Cuenta confirmada*/
.cuenta-confirmada {
    background-color: #000000;
    color: #00ff00;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);

}
.cuenta-confirmada h1 {
    font-family: 'Baskervville SC', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cuenta-confirmada p {
    color: #fff;
}
.cuenta-confirmada .btn-primary {
    background-color: #ffffff;
    border-color: #000000;
    color: #222;
    font-weight: bold;
}


/* Filtrador */
#contenedorproductos .card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

#contenedorproductos .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    text-align: center;
}

.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.list-group-item h5 {
    color: #0D0638;
}

.list-group-item ul li a {
    text-decoration: none;
    color: #333;
}

.list-group-item ul li a:hover {
    color: #0D0638;
}


#tablaProductos {
    width: 100%;
    margin: 0 auto; /* Centra la tabla */
    table-layout: fixed; /* Para que las columnas tengan un ancho igual */
}
#tablaProductos th, 
#tablaProductos td {
    text-align: center; /* Centra el texto */
    vertical-align: middle; /* Centra el contenido verticalmente */
}

#tablaProductos img {
    display: block; /* Hace que la imagen sea un bloque */
    margin: 0 auto; /* Centra la imagen dentro de la celda */
}

.dataTables_wrapper .dataTables_paginate {
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centra horizontalmente */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0 5px; /* Espaciado entre los botones de paginado */
}


