.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    margin: auto;
    padding: auto;
    padding-bottom: auto;
}

/*BARRA PRINCIPAL*/
#header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

#logo {
    display: flex;
    align-items: center;
    height: 40px;
}

#buscador {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
}

#barra_buscador {
    width: 100%; 
    max-width: 400px;
    padding: 10px; 
    font-size: 16px; 
    border-radius: 10px;
    border: 1px solid #ccc; 
}

#iconos {
    display: flex;
    align-items: center;
}

#iconos img {
    height: 20px;
    margin-left: 35px; 
}

/*NAVEGADOR CATEGORIAS*/
#banner-envio p {
    background-color: #0D0638;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 35px;
}

/*CARRUSEL MARCAS*/
#carouselExampleControls .carousel-item {
    height: 500px; 
}
  
#carouselExampleControls .carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/*LINEAS SEPARADORAS*/
.custom-hr {
    border: 0;
    height: 2px;
    background-color: #000000;
    width: 80%; 
    margin: 20px auto; 
    opacity: 0.8;
}

/*RECOMENDACIONES*/
#recomendaciones-productos {
    padding: 20px;
}

#recomendaciones-productos h2 {
    text-align: center;
    color: #0D0638;
    margin-bottom: 20px;
}

.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px; 
}

.producto-info {
    border: 1px solid black; 
    border-radius: 5px; 
    padding: 10px;
    background-color: #fff; 
    box-shadow: 0 0 5px rgba(0,0,0,5); 
}

.producto-info img {
    max-width: 100%;
    height: auto;
    border: 2px solid black; 
    border-radius: 5px; 
    margin-bottom: 10px;
}

.producto-info h4 {
    margin: 0;
    font-size: 30px;
}

.producto-info p {
    margin: 0;
    font-size: 25px;
    color: #0D0638; 
}


/*BANNER PROMOCIONES*/
.bg-light {
    background-color: #000000 !important;
    border-radius: 15px; 
    overflow: hidden; 
}

h1.display-4 {
    color: #ffffff; 
}

p {
    color: #ffffff; 
}

hr {
    border-color: #ffffff; 
}

.btn-primary {
    background-color: #0D0638;
    border-color: #000000; 
    border-radius: 10px;
} 

.btn-primary:hover {
    background-color: #000000; 
    border-color: #0D0638; 
}
.img-fluid {
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgb(255, 255, 255); 
}


/*FOOTER*/
#footer {
    background-color: #000000; 
    color: #ffffff; 
    padding: 20px 0;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

#footer p {
    margin: 0;
    line-height: 1.5;
}

#footer iframe {
    border: 0;
    border-radius: 5px;
}

#social-icons a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

@media (max-width: 767.98px) {
    #footer iframe {
        height: 150px;
    }
}



/*BOXES*/
.cuenta-confirmada {
    background-color: #000000;
    color: #00ff00;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);

}
.cuenta-confirmada h1 {
    font-family: 'Baskervville SC', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cuenta-confirmada p {
    color: #fff;
}
.cuenta-confirmada .btn-primary {
    background-color: #ffffff;
    border-color: #000000;
    color: #222;
    font-weight: bold;
}
